body{
  background-color: white;
}

h2{
    color: rgb(103, 151, 195);

}

h3 {
    color: rgb(75, 99, 170);
}

.topnav {
    background-color: rgb(187, 203, 230);
    overflow: hidden;
    padding-bottom: 1px;
    
  }

  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: rgb(81, 133, 225);
  }

  * {
    box-sizing: border-box;
  }
main {
  text-align: center;
  display: flex;
}

.herobox3 {
  text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.fa-github{
  color: white;
}

.fa-brands {
  size: 70px;
}

.fa-headphones-simple{
  size: 30px;
  color: white;
}

.herobox4{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  
}
.cards {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

.card1 {
  background-image: url(../image-background-card1.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 60%;
  margin-bottom: 10%;
  }
  
  .card2 {
      background-image: url(../image-background-card2.jpg);
      min-height: 250px;
      width: 60%;
      background-size: cover;
      background-position: bottom;
      margin-bottom: 10%;
      
  }
  
  .card3{
    background-image: url(../image-background-card3.jpg);
    min-height: 250px;
    width: 60%;
    background-position: bottom;
    background-size: cover;
    margin-bottom: 10%;
  
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .row {  

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
.img{
  size: 30px;
}
  .side {
    -ms-flex: 10%; 
    flex: 30%;
    background-color: #f1f1f1;
    padding-bottom: 10px;
  }

  .side h2 {
   color: rgb(131, 119, 119);
   font-size: 20px;
  }

  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    padding: 20px;
    color: white;
    background-color: white;
  }

  footer h3 {
    text-align: center;
  }


