body{
  background-color: orangered;
}

h2{
    color: white;
}

h3 {
    color: rgb(75, 99, 170);
}

.topnav {
    background-color: rgb(199, 30, 30);
    overflow: hidden;
    padding-bottom: 1px;
    
  }



  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: rgb(81, 133, 225);
  }

  * {
    box-sizing: border-box;
  }

  .cards {
    text-align: center;
    display: flex;
    justify-content: space-between;  
}

.card1 {
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
  background-image: url(images/);
  
  }
  
  .card2 {
      background-image: url(images/image-background-card2.jpg);
      min-height: 250px;
      width: 30%;
      background-position: bottom;
  }
  
  .card3{
      background-image: url(images/image-background-card3.jpg);
      min-height: 250px;
      width: 30%;
      background-position: bottom;
  
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .responsive {
    width: 100%;
    height: auto;
  }

  .row {  
   
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .side {
    -ms-flex: 30%; 
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }

  .side h2 {
   color: rgb(131, 119, 119);
   font-size: 20px;
  }

  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    padding: 20px;
    color: white;
    background-color: white;
  }

  .footer {
    padding: 20px;
    text-align: center;

    color: rgb(15, 15, 227);
  }


